.headerContainer {
    width: 100%;
    filter: blur(2px);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.imageWrapper {
    position: relative;
    z-index: 100;
}