
.animeWrapper {
    max-width: 100%;
    height: 70vh;
    margin: 0 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}


.animeWrapper p {
    margin-top: 5px;
}

#animeCover {
    width: 100%;
    height: 86%;
    object-fit: cover;
}

#noImage {
    display: none;
}

#noText {
    display: none;
}


#test {
    width: 100px;
}



@media screen and (max-width: 920px) {

    #animeCover {
        height: 85%;
    }

    .animeWrapper {
        height: 55vh;
    }

}

@media screen and (min-height: 1300px) and (max-width: 1800px) {

    #animeCover {
        height: 90%;
    }

    .animeWrapper {
        height: 44vh;
    }
}

@media screen and (min-height: 1300px) and (max-width: 1320px) {

    #animeCover {
        height: 90%;
    }

    .animeWrapper {
        height: 35vh;
    }
}




@media screen and (max-width: 480px) {

    .animeWrapper {
        width: 40vw;
        height: 50vh;
        margin: 0 10px;
    }

    #animeCover {
        height: 35vh;
    }
}






