
.animeWrapper {
    max-width: 100%;
    height: 65vh;
    margin: 0 14px;
}

.animeWrapper p {
    margin-top: 5px;
}

#animeCover {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}


#test {
    width: 100px;
}


@media screen and (max-width: 480px) {

    .animeWrapper {
        width: 40vw;
        height: 55vh;
        margin: 0 10px;
    }

    #animeCover {
        height: 35vh;
    }
}






