
.animeWrapper {
    min-width: 20%;
}

#animeCover {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

@media screen and (max-width: 960px) {
    
    .animeWrapper {
        min-width: 35%;
    }
}



