.categoryCardContainer {
    text-align: center;
    position: relative;
    cursor: pointer;
}

#image {
    display: block;
    width: 100%;
    height: auto;
}

#text {
    position: absolute;
    bottom: 0;
    background-color: black;
    width: 100%;
    padding: 10px;
    font-weight: 500;
}

