
.profileContainer {
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profileWrapper {
    border-radius: 10px;
    height: 90%;
    width: 50%;
    background-color: rgb(56, 58, 73);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileWrapper h2 {
    font-weight: 500;
}

#pfp {
    border-radius: 50%;
    width: 196px;
    height: 196px;
    position: relative;
    cursor: pointer;
}

.pfpImage {
    position: relative;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 15px;
    overflow: hidden; 
}

#changePfp {
    position: absolute;
    color: white;
    top: 240px;
    left: 54px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    padding: 0.4rem 0.8rem;
    z-index: 0;
    cursor: pointer;
}

.pfpImage:hover #changePfp{
    top: 80px;
    animation: slideUp 0.3s ease;
}

.modalWrapper {
    width: 50%;
    height: 90%;
    margin: auto;
    background-color: red;
    position: relative;
    z-index: 5;
}


@keyframes slideUp {
    from {
        top: 240px;
    }

    to {
        top: 80px;
    }
}

@media screen and (max-width: 750px) {

    .pfpImage {
        width: 150px;
        height: 150px;
    }

    #pfp {
        width: 146px;
        height: 146px;
    }

    #changePfp {
        left: 20%;
    }
    
}

@media screen and (max-width: 476px) {

    .pfpImage {
        width: 60%;
        height: auto;
    }

    #pfp {
        width: 100%;
        height: auto;
    }

    #changePfp {
        left: 28%;
        font-size: 14px;
    }
    
    .profileWrapper {
        width: 70%;
    }
}

@media screen and (max-width: 386px) {

    #changePfp {
        left: 20px;
        width: 65%;
        font-size: 12px;
        text-align: center;
    }

    .profileWrapper h2 {
        font-size: 1.5rem;
    }


}

@media screen and (max-width: 296px)  {

    #changePfp {
        display: none;
    }

}






