
.profileContainer {
    width: 50%;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profileWrapper {
    border-radius: 10px;
    height: 90%;
    width: 100%;
    background-color: rgb(56, 58, 73);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileWrapper h2 {
    font-weight: 500;
}

#pfp {
    border-radius: 50%;
    width: 196px;
    height: 196px;
    position: relative;
    cursor: pointer;
}

.pfpImage {
    position: relative;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 15px;
    overflow: hidden; 
}

#changePfp {
    position: absolute;
    color: white;
    top: 240px;
    left: 54px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    padding: 0.4rem 0.8rem;
    z-index: 0;
    cursor: pointer;
}

.pfpImage:hover #changePfp{
    top: 80px;
    animation: slideUp 0.5s ease;
}

.modalWrapper {
    width: 50%;
    height: 90%;
    margin: auto;
    background-color: red;
    position: relative;
    z-index: 5;
}

@keyframes slideUp {
    from {
        top: 240px;
    }

    to {
        top: 80px;
    }
}





