.categoriesContainer {
    background-color: rgb(27, 27, 27);
    margin-top: 65px;
    color: white;
    height: calc(100vh - 65px);
    width: 100%;
    padding-bottom: 10px;
    overflow-y: auto;
}

.categoriesWrapper {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
    padding-top: 3%;
    margin: auto;
    justify-content: center;    
    overflow-y: auto;
    padding-bottom: 10px;
}


@media screen and (max-width: 500px) {

    .categoriesWrapper {
        width: 95%;
        padding-bottom: 15px;
        overflow-y: scroll;
    }


}

