.modalContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modalWrapper {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    height: 80%;
    width: 40%;
    transform: translate(-50%, -50%);
    background-color: rgb(52, 52, 72);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: rgb(33, 33, 45);
    width: 100%;
    padding: 1rem;
    text-align: center;
}


.hamburger {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 10px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;

}

.hamburger .bar:nth-child(2) {
    opacity: 0;
}

.hamburger .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media screen and (max-width: 1115px) {

    .modalWrapper {
        width: 65%;
    }

}

@media screen and (max-width: 520px) {

    .modalWrapper {
        width: 75%;
    }

    .header h2 {
        font-size: 1.6rem;
    }

}

@media screen and (max-width: 372px) {
    .header h2 { 
        width: 70%;
        margin: auto;
        font-size: 1.4rem;
    }
}