.accountPageContainer {
    margin-top: 65px;
    height: calc(100vh - 65px);
    /* background-color: #35373f; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-image: url('../../images/backgrounds/accBackground-min.png');
    background-position: center;
}

.accountPageContainer h2 {
    color: white;
    font-size: 2rem;
}
