.accountPageContainer {
    margin-top: 65px;
    height: calc(100vh - 65px);
    width: 100%;
    background-image: url('../../images/backgrounds/accBackground-min.png');
    background-position: center;
}

.accountPageContainer h2 {
    color: white;
    font-size: 2rem;
}

.notLoggedInContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-image: url('../../images/backgrounds/accBackground-min.png');
    background-position: center;
}


#backgroundForLoading {
    display: none;
}

#test {
    margin-top: 70px;
    color: blue;
    font-size: 3rem;
}
